*{
    font-family: 'Questrial', sans-serif;
    margin:0;
    padding: 0;
  }

  html{
    font-size: 62.5%; /*10px*/
}

div .panel{
    margin: 0.4rem;
    width: 85%;
    height: auto;
    margin-left: 2rem;
    
  }

div .panel .container{
    border-radius: 0.5rem;
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    box-shadow: 0 12px 14px black;
    transition: 300ms ease-in-out;
}

.panel:hover > :not(:hover){
    opacity: 0.4;
}

div .item{
    text-align: center;
    margin: 1.3rem;
    padding: 1.3rem;
    font-size: 1.6rem;
}

table{
    font-size: 1.5rem;
    padding: 2.2rem;
    margin-left: -1rem;
    text-align: center;
    color:black;
}

th{
    border: 1px solid rgba(212,95,145,1);
    background: rgba(212,95,145,1);
    color:rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 0.5rem;
    box-shadow: 2px 3px 7px 0 black;
    
}

td{
    border: 1px solid rgba(212,95,145,1);
    background: rgba(212,95,145,1);
    color: white;
    box-shadow: 1px 2px 5px 0 black;
}

@media screen and (min-width: 768px){
    div .panel{
        margin: 1.5rem;
        font-size: 1.5rem;
        width: 65%;
        margin-left: 13rem;
      }

      div .item{
        font-size: 2rem;
    }

    img {
        width: 5rem;
        height: 5rem;
    }

    table{
        font-size: 2rem;
        margin: 0.2rem;
        padding: 2.2rem;
        margin-left: 7rem;
    }

    th{
        font-size: 2rem;
    }

    @media screen and (min-width: 1024px){
        div .panel{
            margin: 1.5rem;
            font-size: 1.8rem;
            width: 65%;
            margin-left: 16rem;
          }

          div .item{
            font-size: 2.5rem;
        }

        table{
            font-size: 2.5rem;
            margin: 0.2rem;
            padding: 2.2rem;
            margin-left: 12rem;
        }

        th{
            font-size: 2.5rem;
        }
    }
    
}

